*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}
body, html{
    height: 100%;
}
header{
    width: 100%;
    height: 90vh;
    min-height: 800px;
    padding: 40px 2%;
    background-size: cover;
    background-position: center;
    background-image: url('../assets_arquivos/imagem-background1.jpg');
}
header nav.desktop-menu{
    float: right;
    transition: 1.5s;
}
header nav.desktop-menu ul{
    list-style-type: none;
}
header nav.desktop-menu ul li{
    float: left; 
    padding: 0 15px;
}
header nav.desktop-menu ul li a{
    color: white;
    text-decoration: none;
    padding: 0 5px;
}
nav.mobile-menu ul{
    display: none;
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
}
nav.mobile-menu ul{
    position: absolute;
    width: 100%;
    left: 0;
    top: 40px;
    color: white;
    list-style-type: none;
    text-align: center;
}
div.container{
    max-width: 1280px;
    margin: 0 auto;
}
div.clear{
    clear: both;
}
div.chamada1{
    float: right;
    margin: 140px 150px;
}
div.chamada1 > h2{
    font-size: 40px;
    font-weight: 300;
    color: white;
}
div.chamada1 > p{
    font-size: 20px;
    color: white;
    margin-top: 10px;
}
section.sessao1{
    width: 100%;
    height: auto;
    background-color: #472562;
    padding: 0px 2%;
}
section.sessao1 > div.container_sessao1{
    width: 100%;
}
div.container_sessao1 > div.texto_sessao1{
    width: 45%;
    float: left;
    margin-top: 60px;
    padding-left: 40px;
    color: white;
    position: relative;
    left: 7%;
}
div.texto_sessao1 h2{
    font-weight: 300;
    font-size: 26px;
}
div.texto_sessao1 p{
    font-size: 15px;
    margin-top: 20px;
}
div.texto_sessao1 ul{
    list-style-position: outside;
    font-size: 15px;
    padding-left: 15px;
}
div.texto_sessao1 ul li{
    float: left;
    width: 100%;
    margin-top: 8px;
}
div.btn1_texto{
    background-color: #ff703d;
    width: 165px;
    height: 44px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    line-height: 44px;
    border-radius: 15px;
}
div.container_sessao1 > div.device_sessao1{
    float: right;
    width: 55%;
    height: 600px;
    background-image: url("../assets_arquivos/device.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    position: relative;
    top: -20px;
    left: -10%;
}
section.sessao2{
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    background-color: white;
}
section.sessao2 > div.container_sessao2 > h2{
    color: #476363;
    font-weight: 400;
}
section.sessao2 > div.container_sessao2 > p{
    margin-top: 30px;
    padding: 0 30px;
    max-width: 700px;
    display: inline-block;
}
section.sessao2 > div.container_sessao2 > img{
    width: 90%;
    margin-top: 40px;
}